        <div class="col-md-12 card shadow mb-4 p-0">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Servers</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered" width="100%" cellspacing="0" role="grid" style="width: 100%">
                    <thead>
                        <tr role="row">
                            <th>Server</th>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Ip</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row">
                            <td>Web</td>
                            <td>{{ servers.webserver|capitalize }}</td>
                            <td>{{ servers.webserver_version }}</td>
                            <td>{{ servers.webserver_ip }}</td>
                        </tr>
                        {% if servers.php is not null %}
                        <tr role="row">
                            <td>PHP</td>
                            <td>PHP</td>
                            <td>{{ servers.php }}</td>
                            <td>{{ servers.php_ip }}</td>
                        </tr>
                        {% endif %}
                        {% if servers.node is not null %}
                        <tr role="row">
                            <td>Node</td>
                            <td>Node</td>
                            <td>{{ servers.node }}</td>
                            <td>{{ servers.node_ip }}</td>
                        </tr>
                        {% endif %}
                        {% if servers.cache is not null %}
                        <tr role="row">
                            <td>Cache</td>
                            <td>{{ servers.cache|capitalize }}</td>
                            <td>{{ servers.cache_version }}</td>
                            <td>{{ servers.cache_ip }}</td>
                        </tr>
                        {% endif %}
                        {% if servers.queuer is not null %}
                        <tr role="row">
                            <td>Queuer</td>
                            <td>{{ servers.queuer|capitalize }}</td>
                            <td></td>
                            <td>{{ servers.queuer_ip }}</td>
                        </tr>
                        {% endif %}
                        {% if servers.db is not null %}
                        <tr role="row">
                            <td>Database</td>
                            <td>{{ servers.db|capitalize }}</td>
                            <td>{{ servers.db_version }}</td>
                            <td>{{ servers.db_ip }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
