    <div class="row">
        <div class="col-md-12">
            <h3>Servers</h3>

            <div class="row">
                <div class="col-md-2">Web Server</div>
                <div class="col-md-10">{{ servers.webserver }} ({{ servers.webserver_version }})</div>
            </div>
            <div class="row">
                <div class="col-md-2">PHP Version</div>
                <div class="col-md-10">{{ servers.php }}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Cache Server</div>
                <div class="col-md-10">{{ servers.cache }}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Queuer Server</div>
                <div class="col-md-10">{{ servers.queuer }}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Database Server</div>
                <div class="col-md-10">{{ servers.db }}</div>
            </div>
        </div>
    </div>
