{% if servers.webserver == 'apache' %}
<div class="col-md-12 card shadow mb-4 p-0">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">VHosts Apache ({{ vhosts['apache']|length }})</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Apache</h4>
                {% for vhost in vhosts['apache'] %}
                <a href="/conf/apache/{{ vhost.name }}" target="_blank">
                  <div class="webblock">
                    <div class="icon"><i class="glyphicon glyphicon-link"></i></div>
                    <div class="text">{{ vhost.name }}</div>
                  </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if servers.webserver == 'nginx' %}
<div class="col-md-12 card shadow mb-4 p-0">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">VHosts Nginx ({{ vhosts['nginx']|length }})</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Nginx</h4>
                {% for vhost in vhosts['nginx'] %}
                <a href="/conf/nginx/{{ vhost.name }}" target="_blank">
                  <div class="webblock">
                    <div class="icon"><i class="glyphicon glyphicon-link"></i></div>
                    <div class="text">{{ vhost.name }}</div>
                  </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}